@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&family=Zen+Tokyo+Zoo&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

:root {
    --primary-100: #fbe6f9;
    --primary-200: #f4b4ec;
    --primary-300: #ed82e0;
    --primary-400: #e650d4;
    --primary-500: #db05c1;

    --secondary-100: #eaf7f8;
    --secondary-200: #ace0e2;
    --secondary-300: #82d1d4;
    --secondary-400: #59c1c5;
    --secondary-500: #2cabaf;

    --black: black;
    --white: #fff;
    --violet: #333399;

    --linearGradient-1: linear-gradient(to right, transparent, var(--white), transparent);

    --titleFont: 'Zen Tokyo Zoo', cursive;
    --basicFont: 'Poppins', sans-serif;

    --borderRadius: 2rem;
    --smallLetterSpacing: 0.1rem;
    --letterSpacing: 0.4rem;
    --transition: 0.6s all;
}

body {
    margin: 0 auto;
    color: var(--primary-300);
    font-family: var(--basicFont);
    background-color: var(--black);
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 1.6rem auto;
    padding: 0.2rem 0.5rem;
    color: var(--black);
    font-family: var(--basicFont);
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-500);
    letter-spacing: var(--letterSpacing);
    border: 4px double var(--secondary-500);
    border-radius: 30px;
    box-shadow: 1px 1px 5px var(--secondary-500);
    overflow: hidden;
    visibility: hidden;
    animation: fadeAnimation 3s forwards;
    transition: var(--transition);
    cursor: pointer;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--linearGradient-1);
    transform: skewX(-30deg);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation: fadeAnimation 1s 2s forwards;
    transition: var(--transition);
}

.btn:hover::before {
    left: 100%;
}

.btn:hover {
    transform: scale(0.98);
    color: var(--black);
    background-color: var(--secondary-500);
}

hr {
    width: 80vw;
    margin: 2rem auto 0;
    opacity: 0.5;
    height: 4px;
    border: none;
    background: linear-gradient(to right, var(--primary-500), var(--secondary-500));
}

@media (max-width: 1000px) {
    .btn {
        width: 80%;
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
